*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    color: #212121;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.postcard{
    padding: 20px;
    max-width: 350px;
    border: 5px dotted rgb(30, 224, 30);
    background-color: coral;
}

.postcard_thumb{
    border: 2px dashed #fff;
}


.title{
    margin-top: 30px;
    border: 2px dashed #000;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
}

.text{
    padding: 15px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid black;
}